@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

body {
	background-color: #222222;
}

@theme {
	--color-border: #3c4043;

	--color-form_title: #9aa0a6;
	--color-form_input: #2f2f2f;

	--color-input_focus: #d3413f;
	--color-input_border: #3c4043;
	--color-input_focus_hover: #e06460;

	--color-error_red: #f05a58;
	--color-light_grey: #6b7074;
	--color-extra_light_grey: #b0b5b1;

	--color-accent: #8b3a3a;
	--color-accent_btn: #c03a38;
	--color-accent_btn_hover: #d3413f;

	--color-google_btn: #9aa0a6;

	--color-card_grey: rgb(42, 42, 42);
	--color-spinner_bg: rgba(240, 235, 227, 0.2);

	--text-white: #ffffff;
	--text-default_size: 0.875rem;
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Merriweather', serif;

	--color-sidebar_bg: #1e1e1e;
	--color-border_accent: rgb(60, 64, 67);

	--color-action_btn_border: #d3413f59;

	--color-verse_set_selected: rgba(211, 65, 63, 0.1);

	--color-option_hover: #333333;
}

@layer base {
	body {
		@apply font-sans;
		@apply text-white;
		@apply text-default_size;
	}
}

@layer utilities {
	.scrollbar-black::-webkit-scrollbar {
		width: 0.5rem;
	}
	.scrollbar-black::-webkit-scrollbar-track {
		background: #201f1f;
	}
	.scrollbar-black::-webkit-scrollbar-thumb {
		background: #333;
		border-radius: 50rem;
	}

	.scrollbar-white {
		scrollbar-gutter: stable both-edges;
	}
	.scrollbar-white::-webkit-scrollbar {
		width: 0.75rem;
	}
	.scrollbar-white::-webkit-scrollbar-track {
		background: #201f1f;
	}
	.scrollbar-white::-webkit-scrollbar-thumb {
		background: #333;
		border-radius: 50rem;
		border: 2px solid #201f1f; /* fake inset using border matching track color */
	}
}
